.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  font-size: calc(10px + 1vmin);
  align-items: center;
  background-color: teal;
  border-bottom: 1rem;
  color: white;
  min-height: 5rem;
}

.app-name-view {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.app-logo {
  height: 4rem;
}

.link {
  color: teal;
  text-decoration: underline;
  font-size: calc(10px + 0.8vmin);
  font-weight: 700;
  display: flex;
  pointer-events: stroke;
  margin-top: 0.5rem;
}

.app-content{
  background-color: gainsboro;   
  height: 100vh;
}

.content{
  background-color: white;
  display: flex;
  flex-direction: column; 
  justify-content: left;
  align-items: flex-start;
  padding: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
